@{
    ViewBag.Title = "Admin Paneli";
}
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12 ">
        <div class="row margin">
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","Users")">
                    <i class="fa fa-user fa-3x"></i><br> <small>Kullanıcılar</small>
                </a>
            </div>
            
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","UserTypes")">
                    <i class="fa fa-user-plus fa-3x"></i><br> <small>Kullanıcı Yetkileri</small>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","Kitapİlan")">
                    <i class="fa fa-book fa-3x"></i><br> <small>Kitapİlan</small>
                </a>
            </div>

        </div>
       
        <div class="row margin">
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","KitapDetays")">
                    <i class="fa fa-list-ul fa-3x"></i><br> <small>KitapİlanDetayları</small>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","Kategoris")">
                    <i class="fa fa-list-alt fa-3x"></i><br> <small>KitapKatagorileri</small>
                </a>
            </div>

        </div>
        
        <div class="row margin">
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","Yorums")">
                    <i class="fa fa-commenting-o fa-3x"></i><br> <small>KullanıcıYorumları</small>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-block btn-default" href="@Url.Action("Index","Sikayets")">
                    <i class="fa fa-info fa-3x"></i><br> <small>KullanıcıŞikayetleri</small>
                </a>
            </div>

        </div>
    </div>
</div>
